<?xml version="1.0" encoding="UTF-8" ?>

<configuration> <!-- debug="true" scan="true">-->

  <appender name="string" class="home.safrin.logback.appenders.StringAppender">
    <encodingCharset>UTF-8</encodingCharset>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>[%-5level] %logger [%thread %mdc] - %message%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="string" />
  </root>

</configuration>
